@CHARSET "UTF-8";

#container{
	width:1285px;
	height:700px;
	background-color: #EC2B36;
}

#left{
	width:200px;
	height:700px;
	background-color: #1C2B36;
	float: left;
}

#right{
	width:1080px;
	height:700px;
	background-color: #E4E7E8;
	float: right;
}

#right2{
	width:1080px;
	height:700px;
	background-color: #E4E7E8;
	float: right;
}

#left-top{
	width:100%;
	height: 150px;
}

#left-middle{
	width:100%;
	height: 250px;
	border-bottom: 2px solid black;
}

#left-bottom{
	width:100%;
	height: 230px;
}


#right-top{
	width:100%;
	height: 60px;
	background-color: gray;
}

#right-title{
	width:100%;
	height: 80px;
	background-color:#F6F6F8;
	font:26px '微软雅黑';
	line-height: 80px;
	text-indent: 30px;
}


#left-form{
	width:500px;
	height: 300px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	border:1px solid #847C90;
}

#right-form{
	width:500px;
	height: 300px;
	float: right;
	margin-right:30px;
	margin-top: 30px;
	background-color: white;
	border:1px solid #847C90;
}



#detail{
	width:1018px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	background-color: white;
}

#detail div{
	float: left;
}
.left-form-title{
	width:100%;
	height: 40px;
	background-color: #F6F6F8;
	line-height: 40px;
	text-indent: 20px;
	
}

#img{
	width:100%;
	height:260px;
	float:left;
	background-color:white;
}


#type{
	margin-top:28px;
	width:440px;
	height: 50px;
	border: 1px solid white;
	margin-left: 20px;
	margin-right: 20px;
}


#title{
	width:440px;
	height: 50px;
	border: 1px solid white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}




#messageInfo1{
	width:440px;
	height: 50px;
	border: 1px solid white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.type-words{
	width:100px;
	height: 100%;
	line-height: 44px;
	text-align: center;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.type-input{
	width:338px;
	height: 100%;
	margin-top: -23px;
}

.type-input1{
	width:338px;
	height: 100%;
}


#right-form div{
	float: left;
}

#detail-top{
	width:100%;
	height: 40px;
	background-color:#F6F6F8;
	text-indent: 20px;
	line-height: 40px;
}

#detail-info{
	width:100%;
	height: 80px;
}

#detail-info div{
	float: left;
}

#detail-submit{
	width:100px;
	height: 30px;
	background-color:#22AA43;
	margin: 3px auto;
	margin-left: 460px;
	margin-top:15px;
	margin-bottom:15px;
	float: left;
}

.info-type{
	width:150px;
	height: 60px;
	margin-left:10px;
	margin-top:8px;
	float: left;

}

.info-info{
	width:700px;
	height: 60px;
	margin-left: 50px;	
	margin-top: 8px;
	float: left;
}

#add{
	width:80px;
	height: 25px;
	background-color:#22AA43;
	margin-left: 10px;
	margin-top: 7px;
	text-align: center;
}

#remove{
	width:80px;
	height: 25px;
	background-color:tomato;
	margin-left: 10px;
	margin-top:10px;
	text-align: center;
}

#person{
	margin-top: 10px;
	text-align: center;
	margin-left: 40px;
}

#nextperson{
	margin-top: 10px;
	text-align: center;
	margin-left:100px;
}

#midle-title{
	width:100%;
	height: 50px;
	line-height: 50px;
	text-indent:10px;
	color:#C4D0BA;
	font-size: 13px;
}

.midle-select{
	width:100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color:#C4D0BA;
	cursor: pointer;
}

.midle-select:HOVER{
	background-color: #16232D;
}

#file{
	width:99%;
	height: 40px;
}
